<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/my-profile.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>HIEUAN Shop</title>
</head>

<body>
    <div class="my-profile">
        <form action="/" method="get">
            <header class="header row">
                <div class="row pt-2">
                    <div class="col-6">
                        <span class="ms-5 text-white">Kết nối</span>
                        <i class="fa-brands fa-facebook mx-2 text-white fs-5"></i>
                        <i class="fa-brands fa-instagram text-white fs-5"></i>
                    </div>
                    <div class="col-6 text-end user-option">
                        <img src="<%= ava ? ava : '/images/profile-icon.png' %>" alt="" width="30px"
                            height="30px">
                        <ul class="text-white ms-2 nav-profile">
                            <li class="js-option-profile">
                                <%= user.username %>
                                    <ul class="subnav text-black js-subnav">
                                        <li><a href="/my-profile/<%= user.id %>">Tài khoản của tôi</a></li>
                                        <li><a href="/list-orders-status/<%= user.id %>">Đơn mua</a></li>
                                        <li><a href="/logout">Đăng xuất</a></li>
                                    </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="logo col-2 text-center">
                        <a class="d-none d-lg-block" href="/">HIEUANeShop</a>
                        <a class="d-lg-none" href="/">HIEUAN</a>
                    </div>
                    <div class="col-9 input-search position-relative text-center">
                        <input type="text" placeholder="Nhập tìm kiếm theo tên" name="name">
                        <button class="position-absolute text-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="col-1 cart-icon">
                        <a href="/list-order">
                            <span><%= numProductInCart %></span>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>

                    </div>
                </div>
            </header>
        </form>

        <div class="row content p-0 mx-0">
            <!-- OPTIONS -->
            <div class="col-2 filter px-0">
                <div class="setting">
                    <img class="ms-4" src="https://cf.shopee.vn/file/ba61750a46794d8847c3f463c5e71cc4" alt=""
                        width="30px" height="30px">
                    <span class="">Tài khoản của tôi</span>
                    <a class="pt-3 current-tag" href="/my-profile/<%= user.id %>">Hồ Sơ</a>
                    <a class="py-3" href="/change-password/<%= user.id %>">Đổi mật khẩu</a>

                </div>
                <div class="ps-4 bill mt-2">
                    <img src="https://cf.shopee.vn/file/f0049e9df4e536bc3e7f140d071e9078" alt="" width="30px"
                        height="30px">
                    <a href="/list-orders-status/<%= user.id %>">Đơn Mua</a>
                </div>

            </div>
            <!-- CARD PROFILE -->
            <div class="col-10 p-0 card-profile">
                <div class="card-container">
                    <div class="header-card border-bottom pb-2">
                        <h6 class="fs-5 pt-2 px-4">Hồ Sơ Của Tôi</h6>
                        <span class="px-4">Quản lý thông tin hồ sơ để bảo mật tài khoản</span>
                    </div>
                    <div class="body-card row pb-5">
                        <form action="/my-profile/<%= user.id %>/update-info" method="post" class="row"
                            enctype="multipart/form-data">
                            <div class="col-3 avatar text-center">
                                <img class="mt-4" src="<%= ava ? ava : '/images/profile-icon.png' %>" alt=""
                                    id="profile-ava">
                                <input type="file" id="profile-file" name="update-ava" hidden>
                                <div class="mt-3">
                                    <label for="profile-file">Chọn Ảnh</label>
                                </div>

                            </div>
                            <div class="col-9 details">
                                <div class="mt-4 mb-4">
                                    <label for="username-profile">Tên đăng nhập</label>
                                    <input class="border-0" type="text" id="username-profile" readonly
                                        value="<%= user.username %>">
                                </div>
                                <div class="mb-4">
                                    <label for="fullname-profile">Tên</label>
                                    <input type="text" id="fullname-profile" value="<%= fullname %>"
                                        name="updateFullname">
                                </div>
                                <div class="mb-4">
                                    <label for="email-profile">Email</label>
                                    <input type="email" id="email-profile" value="<%= email %>" name="updateEmail">
                                </div>
                                <div class="mb-4">
                                    <label for="phone-profile">SĐT</label>
                                    <input type="text" id="phone-profile" value="<%= phone %>" name="updatePhone">
                                </div>
                                <div class="mb-4 sex-profile">
                                    <label>Giới tính</label>
                                    <label for="female">Nữ</label>
                                    <input type="radio" id="female" name="updateSex" value="female">
                                    <label for="male">Nam</label>
                                    <input type="radio" id="male" value="male" name="updateSex">
                                    <label for="sex-other">Khác</label>
                                    <input type="radio" id="sex-other" value="sexOther" name="updateSex">
                                </div>
                                <% if(flashMessages.updateProfileMsg){ %>
                                    <div class="mb-4 ">
                                        <p class="text-danger" id="message">
                                            <%= flashMessages.updateProfileMsg %>
                                        </p>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="text-center">
                                <input class="py-2 px-5" type="submit" value="Lưu">
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <!-- FOOTER -->
        <div class="text-center footer pb-4">
            <i class="fa-regular fa-copyright d-inline-block"></i>
            <span>2022 - Bản quyền thuộc về HIEUAN Shop</span>
        </div>
    </div>
</body>
<script>

    const message = document.getElementById('message');
    if (message)
        message.remove();

    const fileUploader = document.getElementById('profile-file');
    const reader = new FileReader();
    const imageGrid = document.getElementById('profile-ava');

    fileUploader.addEventListener('change', (event) => {
        const files = event.target.files;
        const file = files[0];
        reader.readAsDataURL(file);

        reader.addEventListener('load', (event) => {
            imageGrid.src = event.target.result;
        });
    });

    var radioFemale = document.getElementById('female');
    var radioMale = document.getElementById('male');
    var radioOther = document.getElementById('sex-other');
    if ("<%= sex %>" === 'Nữ') {
        radioFemale.setAttribute("checked", "");
    }
    else if ("<%= sex %>" === 'Nam') {
        radioMale.setAttribute("checked", "");
    }
    else if ("<%= sex %>" === 'Khác') {
        radioOther.setAttribute("checked", "");
    }

    function handleForms() {
        let modalProfile = document.querySelector('.js-option-profile');
        let subnav = document.querySelector('.js-subnav');
        const openProfileOptions = () => {
            console.log("hover");
            subnav.classList.add('open');
        }
        const closeProfileOptions = () => {
            subnav.classList.remove('open');
        }
        modalProfile.addEventListener('mouseover', openProfileOptions);
        modalProfile.addEventListener('mouseout', closeProfileOptions);

    }

    handleForms();

</script>

</html>